.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.flex-container {
  margin: 15vh 15% auto 15%;
  display: flex;
  height: 490px;
  width: 920px;
  background-color: white;
  border-radius: 25px;
  position: fixed;
  overflow: hidden;
}

.graphic {
  order: 1;
  height: auto;
  width: 50%;
  position: relative;
}

.faq {
  padding: 40px;
  order: 2;
  height: auto;
  width: 50%;
}

.deskpic {
  position: absolute;
  margin-top: 40px;
  margin-left: -85px;
  overflow: hidden;
}
.box {
  position: fixed;
  margin-top: 175px;
  margin-left: -120px;
}
.pattern {
  position: absolute;
  margin-top: -325px;
  margin-left: -575px;
}

@media screen and (max-width: 1000px) {
  .flex-container {
    display: -ms-inline-grid;
    flex-direction: column;
    height: 630px;
    width: 400px;
    position: relative;
    overflow: visible;
  }
  .faq {
    padding: 15px;
    margin-top: 30px;
    width: 100%;
  }
  .graphic {
    height: 25%;
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .deskpic {
    position: relative;
    height: 250px;
    margin: -145px auto 0 35px;
  }
  .pattern {
    position: absolute;
    width: 80%;
    margin: -180px auto auto 35px;
  }
  .box {
    position: relative;
    height: 80%;
    margin: -210px auto auto 18px;
  }
}
